//smartbar styling 
.smartbar-popup{
    z-index: 0; 
    position: fixed; 
    background-color: rgb(240, 240, 240) ! important;
}
.sb_content{
    background-color: red;
    margin-top: 32px;
}
.smartbar-text{
    color: red;
    float:left;
    margin-left: 400px;
    font-size: 20px;
    
   
   
}
#smartbar_email_address{
    
     position: relative;
     padding: 5px;
    
    
    
}
.sb_content{
    background-color: #eeeee8;
    position: fixed;
    width: 100%;
    top: 0;
}
.smartbar-submit{
   
    clear:both;
    background-color:#0f52ba;
    color: #fff;
   // border-bottom-color: #0039a1 !important;
     padding: 6px;
   
    
    
}
.input{
    margin-right: 200px;
}
.sb_wrapper
{
   padding: 15px;
   margin: 0 auto;      
}
.input{
   text-align: center;
}