//smartbar styling 
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
    
}
.clearfix:after{
    clear:both;
}

.sb_content{
     width: 100%;
    top: 0;
    left:0;
     background-color: #eeeee8;
     position: fixed;
     margin-top:32px;
     z-index: 99999;
   
}
.sb_wrapper
{
   max-width: 1200px;
   margin: 0 auto;    
  
   
}
.sb_wrapper_left, .sb_wrapper_right{
    float:left;
    width:48%;
    padding:10px;
   
    
}

.sb_wrapper_right p{
    margin: 0px;
}
.sb-input{
    float: left;
}

.input{
    float: right;
}

.sb_wrapper_right input[type="text"]{
   
    padding:10px;
    width: 58%;
    
}
.sb_wrapper_right input[type="submit"]{
    padding:10px;
    width:25%;
    margin-left: 10px;
}

.sb_close{
    top:0;
}

.fa-close{
    float: right;
}